// 変数

// -------------------------------
// オリジナル
// -------------------------------
$yoyaku: yoyaku;

// -------------------------------
// bootstrapの変数のカスタマイズ
// -------------------------------
$primary: #0a58ca; // $blue-600 と同じ
$success: #146c43; // $green-600 と同じ
$info: #0aa2c0; // $cyan-600 と同じ
$danger: #b02a37; // $red-600 と同じ

$table-border-color: #c3c4c7;
